API_PORT=:8080
TOP_K=5
REBUILD_INTERVAL=24h
CLEANED_DATA_PATH=./data/cleaned-raw-data.txt
PROCESSED_DATA_PATH=./data/aggregated-data.csv
SNAPSHOT_PATH=./data/trie-snapshot.bin
AWS_ACCESS_KEY_ID=<your_aws_access_key_id>
AWS_SECRET_ACCESS_KEY=<your_aws_secret_access_key>

S3_BUCKET=<s3_bucket_name>
S3_REGION=<s3_region>
S3_KEY=trie-snapshot-latest.bin

KAFKA_BOOTSTRAP_SERVER=<your_kafka_bootstrap_server>
KAFKA_API_KEY=<your_kafka_api_key>
KAFKA_API_SECRET=<your_kafka_api_secret>
KAFKA_TOPIC=search-log